ul#cssMenu{ width:967px; margin:1px 0 10px 0;}
ul#cssMenu,ul#cssMenu ul{
	list-style:none;background-color:#7A2D33;}
ul#cssMenu ul{
	margin:0;display:none;position:absolute;left:0px;top:100%;opacity:0.8;-moz-box-shadow:2.1px 2.1px 3px #B1B1B1;-webkit-box-shadow:2.1px 2.1px 3px #B1B1B1;box-shadow:2.1px 2.1px 3px #B1B1B1;padding:0 3px 3px 3px;}
ul#cssMenu li:hover>*{
	display:block;}
ul#cssMenu li:hover{
	position:relative;}
ul#cssMenu ul ul{
	position:absolute;left:100%;top:0;opacity:1;}
ul#cssMenu{
	padding:3px 3px 3px 20px;display:block;font-size:0;float:left; margin-top:1px;}
ul#cssMenu table{
	border-collapse:collapse;}
ul#cssMenu li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#cssMenu>li,ul#cssMenu li{
	margin:0 10px 0 3px;
	height:26px;
}
ul#cssMenu ul>li{
	margin:3px 0 0;}
ul#cssMenu a:active, ul#cssMenu a:focus{
	outline-style:none;}
ul#cssMenu a,ul#cssMenu li.dis a:hover{
	display:block;
	vertical-align:middle;text-align:left;text-decoration:none;font-size:14px;font-family:'Microsoft-Yahei, Arial';color:#FFFFFF;cursor:pointer;padding:1px;background-color:#7A2D33;background-repeat:repeat;border:none;line-height:22px;}
	
ul#cssMenu ul a,ul#cssMenu li.dis ul a:hover{
	display:block;

	vertical-align:middle;text-align:left;text-decoration:none;font-size:14px;font-family:'Microsoft-Yahei, Arial';color:#FFFFFF;cursor:pointer;padding:3px 20px 3px 3px;background-color:#7A2D33;background-repeat:repeat;border:none;}
	
ul#cssMenu ul li{
	float:none;}
ul#cssMenu ul a,ul#cssMenu ul li.dis:hover a{
	text-align:left;	}
ul#cssMenu li:hover>a{
	background-color:#7A2D33;border:none;font-size:14px;font-family:'Microsoft-Yahei, Arial';color:#FFFFFF;text-decoration:none;}
ul#cssMenu li:hover>a{
	position :relative;background-color:#7A2D33;border:none;font-size:14px;font-family:'Microsoft-Yahei, Arial';color:#FFFFFF;text-decoration:none;line-height:22px;}
ul#cssMenu li>a:hover{
	position:static !important;}
ul#cssMenu li.dis a{
	color:#AAAAAA !important;}
ul#cssMenu img{
	border:none;vertical-align:middle;margin-right:3px;width:16px;height:16px;}
ul#cssMenu ul img{
	width:16px;height:16px;}
ul#cssMenu img.over{
	display:none;}
ul#cssMenu li.dis:hover a img.over{
	display:none !important;}
ul#cssMenu li.dis:hover a img.def{
	display:inline !important;}
ul#cssMenu li:hover > a img.def{
	display:none;}
ul#cssMenu li:hover > a img.over{
	display:inline;}
ul#cssMenu a:hover img.over,ul#cssMenu a:hover ul img.def,ul#cssMenu a:hover a:hover ul img.def,ul#cssMenu a:hover a:hover img.over,ul#cssMenu a:hover a:hover a:hover img.over{
	display:inline;}
ul#cssMenu a:hover img.def,ul#cssMenu a:hover ul img.over,ul#cssMenu a:hover a:hover ul img.over,ul#cssMenu a:hover a:hover img.def,ul#cssMenu a:hover a:hover a:hover img.def{
	display:none;}
ul#cssMenu a:hover ul,ul#cssMenu a:hover a:hover ul{
	display:block;}
ul#cssMenu a:hover ul ul{
	display:none;}
ul#cssMenu span{
	display:block;overflow:visible;background-image:none;background-position:right center;background-repeat:no-repeat;padding:0 7px;}
ul#cssMenu li:hover>a>span{
	background-image:none;}
ul#cssMenu a:hover span{
	background-image:none;}
ul#cssMenu ul span,ul#cssMenu a:hover table span{
	background-image:none;padding-right:14px;}
ul#cssMenu ul li:hover > a span{
	background-image:none;}
ul#cssMenu a:hover span,ul#cssMenu a:hover a:hover span{
	background-image:none;}
ul#cssMenu table span,ul#cssMenu a:hover table span{
	background-image:none;}
